* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 50px;
    margin-right: 15px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.booklist-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.booklist-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.book-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.book-item {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.book-item:hover {
    transform: translateY(-5px);
}

.book-info {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.book-info img {
    height: 100px;
    width: 70px; 
    margin-right: 15px;
    border-radius: 5px;
    object-fit: cover;
}

.book-details {
    flex-grow: 1;
}

.book-info h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.chapter-list {
    display: flex;
    flex-direction: column;
}

.chapter-list span {
    color: #ddd;
    margin-bottom: 5px;
    font-size: 14px;
}

.time {
    font-size: 14px;
    color: #bbb;
    align-self: center;
}


.hot {
    border-left: 5px solid #ff0000;
}

.hot::before {
    content: "HOT";
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}


footer {
    padding: 20px;
    text-align: center;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 14px;
    margin-top: 40px;
}
